.navbar {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.navbar-nav {
  li {
    margin-left: 10px;

    &:first-child { margin: 0; }
  }

  a {
    color: #333;
    display: block;
    font-size: .9rem;
    padding: 7px 15px;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #fff;
      background: #e76924;
    }
  }
}
