<app-header></app-header>

  <app-banner-hero></app-banner-hero>

  <section class="section-bannerHero section-content">
    <h2>Serviços</h2>
  </section>

  <section class="section-bannerHero section-content">
    <h2>Sobre nós</h2>
  </section>

  <section class="section-bannerHero section-content">
    <h2>Como funciona</h2>
  </section>

  <section class="section-bannerHero section-content">
    <h2>Cadastre-se</h2>
  </section>

  <section class="section-bannerHero section-content">
    <h2>Dados</h2>
  </section>

<app-footer></app-footer>


